<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Klienci</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

<nav>
    <a href="/">Home</a>
    <a href="/services">Usługi</a>
    <a href="/booking">Rezerwacja</a>
    <a href="/clients">Klienci</a>
</nav>

<div class="container">
    <h2>Nasi klienci</h2>

    <table class="clients-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Imię</th>
                <th>Email</th>
                <th>Usługa</th>
                <th>Data</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>1</td>
                <td>Anna Kowalska</td>
                <td>anna@example.com</td>
                <td>Manicure</td>
                <td>2025-09-10</td>
            </tr>

            <tr>
                <td>2</td>
                <td>Maria Nowak</td>
                <td>maria@example.com</td>
                <td>Makijaż</td>
                <td>2025-12-11</td>
            </tr>

            <tr>
                <td>3</td>
                <td>Ola Wiśniewska</td>
                <td>ola@example.com</td>
                <td>Pielęgnacja</td>
                <td>2026-01-12</td>
            </tr>

            <tr>
                <td>4</td>
                <td>Kasia Zielińska</td>
                <td>kasia@example.com</td>
                <td>Masaże</td>
                <td>2026-03-13</td>
            </tr>

            <tr>
                <td>5</td>
                <td>Monika Szymańska</td>
                <td>monika@example.com</td>
                <td>Rytuały SPA</td>
                <td>2026-03-14</td>
            </tr>

                <tr>
                    <td>6</td>
                    <td>Karolina Wójcik</td>
                    <td>karolina@example.com</td>
                    <td>Fryzury</td>
                    <td>2026-04-15</td>
                </tr>

                    <tr>
                        <td>7</td>
                        <td>Paulina Kaczmarek</td>
                        <td> paulina@example.com</td>
                        <td>Kosmetologia</td>
                        <td>2026-04-16</td>
                    </tr>

        </tbody>
    </table>
</div>

</body>
</html>