<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Salon Urody</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

<nav>
    <a href="/">Home</a>
    <a href="/services">Usługi</a>
    <a href="/booking">Rezerwacja</a>
    <a href="/clients">Klienci</a>
    <a href="/admin">Admin</a>
</nav>


<header class="hero">
    <div>
        <h1>Salon AURA </h1>
<p>Luksus • Piękno • Harmonia</p>

        <a href="/booking" class="btn">
            Zarezerwuj wizytę
        </a>
    </div>
</header>


<section class="container">
    <h2>O naszym salonie</h2>
    <p>
        Tworzymy miejsce, w którym piękno spotyka się z relaksem.
        Oferujemy najwyższej jakości zabiegi kosmetyczne,
        stylizację paznokci, rzęs oraz profesjonalną pielęgnację skóry.
    </p>
</section>

<section class="container stats">
    <div class="cards">

        <div class="card">
            <h3>500+</h3>
            <p>Zadowolonych klientek</p>
        </div>

        <div class="card">
            <h3>5 lat</h3>
            <p>Doświadczenia</p>
        </div>

        <div class="card">
            <h3>100%</h3>
            <p>Profesjonalizmu</p>
        </div>

    </div>
</section>


<section class="container">
    <h2>Najpopularniejsze usługi</h2>

    <div class="cards">

        <a href="/booking?service=manicure" class="card">
            <img src="images/mani.png">
            <h3>Manicure</h3>
            <p>Perfekcyjne paznokcie</p>
        </a>

        <a href="/booking?service=lashes" class="card">
            <img src="images/brwi.png">
            <h3>Rzęsy</h3>
            <p>Objętość i styl</p>
        </a>

        <a href="/booking?service=skin" class="card">
            <img src="images/kosm.png">
            <h3>Pielęgnacja</h3>
            <p>Zabiegi skóry</p>
        </a>

    </div>
</section>

<section class="container">
    <h2>Opinie klientek</h2>

    <div class="cards">

        <div class="card">
            <p>„Najlepszy salon w mieście! Atmosfera cudowna.”</p>
            <h3>Anna K.</h3>
        </div>

        <div class="card">
            <p>„Pełen profesjonalizm, zawsze wychodzę zadowolona.”</p>
            <h3>Kasia M.</h3>
        </div>

        <div class="card">
            <p>„Polecam każdej osobie, która ceni jakość.”</p>
            <h3>Ola W.</h3>
        </div>

    </div>
</section>

<section class="container cta">
    <h2>Gotowa na metamorfozę?</h2>
    <p>Umów wizytę w kilka sekund</p>

    <a href="/booking" class="btn">
        Rezerwuj teraz
    </a>
</section>

<footer class="container">
    <p>© 2026 Salon Urody | Wszystkie prawa zastrzeżone</p>
</footer>

</body>
</html>