<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Usługi</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

<nav>
    <a href="/">Home</a>
    <a href="/services">Usługi</a>
    <a href="/booking">Rezerwacja</a>
    <a href="/clients">Klienci</a>
</nav>

<div class="container">
    <h2>Nasze usługi</h2>

    <div class="cards">

        <a href="/booking?service=manicure" class="card">
            <img src="images/mani.png">
            <h3>Manicure</h3>
            <p>Piękne paznokcie</p>
        </a>

        <a href="/booking?service=pedicure" class="card">
            <img src="images/pedi.png" >
            <h3>Pedicure</h3>
            <p>Pielęgnacja stóp</p>
        </a>

        <a href="/booking?service=makeup" class="card">
            <img src="images/makeup.png">
            <h3>Makijaż</h3>
            <p>Profesjonalny make-up</p>
        </a>
        </a>
          <a href="/booking?service=massage" class="card">
            <img src="images/fryz.png">
            <h3>Fryzury</h3>
            <p>Profesjonalne fryzury</p>
        </a>

          <a href="/booking?service=massage" class="card">
            <img src="images/brwi.png">
            <h3>Henna/farbka + Lifting brwi i rzęs</h3>
            <p>Profesjonalna realizacja</p>
        </a>
        <a href="/booking?service=cosmetology" class="card">
            <img src="images/kosm.png">
            <h3>Kosmetologia</h3>
            <p>Zabiegi twarzy</p>
        </a>

        <a href="/booking?service=massage" class="card">
            <img src="images/massaz.png">
            <h3>Masaże</h3>
            <p>Relaks i regeneracja</p>
        </a>
     
  <a href="/booking?service=massage" class="card">
            <img src="images/rytual.png">
            <h3>Rytuały SPA</h3>
            <p>Relaks PRO</p>
        </a>
    </div>
    
</div>

</body>
</html>